body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#1e3c72,#2a5298);
    margin:0;
    padding:20px;
}

.contenedor{
    max-width:600px;
    margin:auto;
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 0 15px rgba(0,0,0,.3);
}

h1{
    text-align:center;
    color:#1e3c72;
}

label{
    display:block;
    margin-top:15px;
    font-weight:bold;
}

input,select{
    width:100%;
    padding:10px;
    margin-top:5px;
    border:1px solid #ccc;
    border-radius:8px;
}

button{
    width:100%;
    margin-top:20px;
    padding:12px;
    border:none;
    background:#1e3c72;
    color:white;
    font-size:18px;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#2a5298;
}

#resultado{
    margin-top:20px;
    padding:15px;
    background:#f4f4f4;
    border-radius:10px;
}